.container {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  min-height: 100vh;
}
.banner {
  min-height: 500px;
  width: 100%;
  background-color: black;
}
.banner img {
  height: 100%;
  width: 100%;
}
.aboutme {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
h3 {
  text-transform: capitalize;
  font-size: 28px;
  text-align: left;
  margin-bottom: 25px;
}

.aboutme .myself {
  margin-left: 15px;
  width: 55%;
}
.aboutme .myself p {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.aboutme .details {
  width: 45%;
  display: flex;
  background-color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 50px;
  font-size: 16px;
  line-height: 26px;
}
.details ul {
  list-style: none;
  font-weight: 600;
  font-size: 14px;
}
.details .field {
  margin-left: 20px;
}
.details .field-details {
  font-weight: 400;
}
.readmore {
  margin-top: 65px;
}
.more {
  padding: 0 80px;
}
